/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
	
	background: url(../img/mooning.jpg) #fff repeat;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 12px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
	width: 100%;
    margin: 0;
	/*width: 90%;
    margin: 0 5%;*/
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    /*border-bottom: 20px solid #bbb;*/
}

.footer-container{
	background: #ccc;
	border-top: 5px solid #bbb;
	height: 70px;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

/* fonts
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
*/
   
nav ul {
    margin: 0;
    padding: 0;
}

.bouton_reserver{
	background-color:#252525;		
}
.bouton_spectacle{
	background-color:#252525;		
}
.bouton_artiste{
	background-color:#252525;		
}
.bouton_theatre{
	background-color:#252525;		
}
.bouton_prod{
	background-color:#252525;		
}
.bouton_contact{
	background-color:#252525;		
}

nav a{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:14px;
	
    display: block;

    text-align: left;
    text-decoration: none;
    font-weight: normal;

    color: white;
	
	text-transform: uppercase;
    /*background: #bbb;*/
	
	cursor:pointer;
}

nav ul li a {
	padding-left: 15%;
	/*background-color:#ccc;*/
}

nav a:visited {
    color: white;
}

nav a:hover{
	color:red;
	text-decoration: none;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 3em;
	text-align: left;
}

.homepage{
	margin:0;
	padding:0;
}

.main article h1, h2, h3{
	font-family: 'Roboto Condensed', sans-serif;
	text-shadow: 0px 1px 1px #FFF;
}

.main article h1 a{
	color: #333333;
	text-decoration: none;
}

.main article footer a{
	text-decoration: none;
}

.main .menu {
    color: white;
    padding: 0px 0px 10px;
}

.footer-container footer {
    padding: 4px 0;
}

.main #player{
	/*border:solid 1px red;*/
	float:left;
	/*padding:8px 10% 8px 30%;
	width:60%;*/
}	


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Paul Pinier's custom styles
   ========================================================================== */

body {
    padding:0;
}

#logo{
	float:none;
	width:50%;
}


.header-container img{
	margin-top: 0;
	width:140%;
}

.theme-default .nivoSlider {
    background:none;
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.gallery-alice-wrapper{
    margin-top:15px !important;
}

.gallery-alice{
    height:70px;
}

.gallery-alice img{
    margin-top:-70px;
}

.cdp-social{
	cursor: pointer;
	color: #aaa;
	margin: 0 10px;
}

.cdp-social:hover{
	color: #444;
}

.fb-like-box{
	/*margin-top:20px;*/
	-webkit-box-shadow: 0 5px 10px #222;
       -moz-box-shadow: 0 5px 10px #222;
            box-shadow: 0 5px 10px #222;
	background: url(../img/mooning.png) repeat;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

.img_header{
	margin-bottom:5px;
}

#menu ul{
	list-style-type: none;
	padding-bottom:30px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:18px;
}

#menu ul li:first-child{
	padding-left:100px;
}

#menu ul li{
	float:left;
	padding:0 40px;
}

#menu a{
	text-decoration: none;
	color: white;
}

#menu a:hover{
	color:red;
	text-decoration: none;
}

.main #audioplayer{
	margin-left:1%;
	margin-bottom:25px;
}

#audioplayer .mejs-inner{
    height:100px;
}

.main #audioplayer #social-player{
	float:left;
}

.mean-comtainer{
	padding:0;
}

.mean-container .mean-bar {
    float:none;   
}

.main #social {
	margin:15px 0 0 0;
    display:none;
}

footer ul{
	color: #444;
	margin:10px 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:1.6em;
}

footer li{
	float:left;
	margin-left:10%;
	list-style-type: none;
}

footer ul a{
	color: #444;
	text-decoration: none;
}

footer ul a:hover{
	color:red;
	text-decoration: none;
}

footer li h5{
	margin:0;
	padding:0;
	font-weight: normal;
	font-style: italic;
}

.gallery{
	margin-top:50px;
}

#details #artiste-details .preloader{
    margin-left:200px;
    margin-top:100px;
    width:30px;
}

#details .preloader{
    margin-left:450px;
    margin-top:100px;
    width:30px;
}

/* ==========================================================================
   Contact styles + Acheter CD
   ========================================================================== */
.main #contact, #acheter-cd{
	background:none;
    min-height:550px;
    margin:0 0 0 2%;
	width:95%;
}

.main #acheter-cd{
    height:auto;
}

.main #contact input, textarea{
	font-size:200%;
	height:50px;
	width:96%;
	padding:3px 2% 0 2%;
}

.main #acheter-cd input, textarea{
	font-size:200%;
	height:50px;
	width:96%;
	padding:3px 2% 0 2%;
}

.main #acheter-cd #mailSpectateur{
    margin-bottom:0px;
}

.main #acheter-cd .explication{
    font-style:italic;
}

.main #acheter-cd #champsAlert, #champsAlert2{
    display:none;
    font-size:150%;
    color:red;
}

.main #acheter-cd #validAchat{
    width:40%;
    padding:3px 0 0 0;
    margin:0 30%;
}

.main #acheter-cd #imagePaypal{
    width:auto;
}

.main #acheter-cd .paypalsmall{
    width:auto;
}

.main #acheter-cd .form-acheter-ticket input{
    font-size:150%;
}

.main #acheter-cd .dropdowns label{
    float:none;
    height: 30px;
    line-height: 30px;
    display:inline;
}

.main #acheter-cd .dropdowns select, .main #contact .dropdowns select{
    width:100%;
    margin-left:0;
    margin-right:0;
}

.main #contact .dropdowns select{
    width:100%;
    margin-left:0;
    margin-right:0;
}

.label-ticket{
    display:none;
}


.lt-ie9 .label-ticket{
    display:block;
}


.main #acheter-cd label{
	float:left;
    margin-right:1%;
    padding-top:5px;
}

.main #acheter-cd #billetreduc{
    margin-left:10px;
    font-family: "Roboto Condensed",sans-serif;
    text-shadow: 0px 1px 1px #FFF;
    font-size: 2em;
    text-align: left;
}

.main #acheter-cd #billetreduc a{
    color:inherit;
    text-decoration: none;
    font-size: 70%;
}

.main #acheter-cd #billetreduc-img{
    width: 150px;
    margin-left:10px;
}

.main #contact input{
	font-family: 'Roboto Condensed', sans-serif;
	vertical-align:middle;
}

.main #contact textarea{
	font-size:130%;
	height:150px;
	padding-top:15px;
}

.main #contact #human{
	font-size:100%;
	height:20px;
	padding-top:0;
	margin-right:10px;
	width:43%;
	float:right;
}

.main #contact #submit{
	float:right;
	width:40%;
	padding:0;
}

.main #contact #code{
    float:left;
	width:40%;
    text-transform:uppercase;
}

.main #contact #ecouter{
	float:left;
    margin-left:5%;
    width:40%;
    height:53px;
}

.message_vert{
	float:none;
	font-size:200%;
	font-family: 'Roboto Condensed', sans-serif;
	color:#71e333;
}

.message_rouge{
	float:none;
	font-size:200%;
	font-family: 'Roboto Condensed', sans-serif;
	color:red;
}

#code_rouge{
    margin-left:5%;
}

.bouton-rouge{
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
}

.bouton-rouge:hover{
    color:red;
}

.bouton-rouge{
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #d02718;
	text-shadow:1px 1px 0px #810e05;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}.classname:active {
	position:relative;
	top:1px;
}

/* ==========================================================================
	Artistes styles
   ========================================================================== */
#photo-vignettes{
	min-height:375px;
    margin-bottom:15px;
}

.photo-vignettes-light{
    background: rgba(255, 255, 255, 0.5);
}
    
#photo-vignettes img{
	width:100px;
}

.vignette{
    cursor:pointer;
	margin:3% 1% 2% 3%;
}

.vignette:hover{
    border-color: white;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

#photo-vignettes .small{
    margin: 10px 3% 7px 4%;
    width:85px;
}

#photo-vignettes .small:hover{
    border-color: white;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

#photo-vignettes .xsmall{
    margin: 10px 7px 7px 20px;
    width:85px;
}

#photo-vignettes .xxsmall{
    margin: 10px 7px 7px 20px;
    width:60px;
}

#photo-vignettes .xsmall:hover{
    /*border:2px solid white;
    margin:8px 8px 5px 18px;*/
}

#details{
    color:#cccccc;
    min-height:750px;
	/*padding:10px 2%;*/
	width:100%;
}

#details .dark-text{
    color:#333333;
}

#details #social{
    margin-top:0;
}

#photo-comedies, #photo-creation, #photo-technique{
	float:left;
	margin-right:1%;
	width:48%;
}

#artiste-portrait, #artiste-details, #artiste-gallerie{
	float:left;
}

.artiste-details-light{
    background: rgba(255, 255, 255, 0.5);
}

#artiste-portrait{
	width:18%
}

#artiste-details img{
    float:left;
    margin:10px;
    width:130px;
}

#artiste-details{
    height:auto;
    min-height: 400px;
}

#artiste-details .details-infos{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:130%;
    float:left;
    margin:7px 0 0 10px;
    width:50%;
}
#artiste-details #details-name{
    font-size:240%;
    margin:15px 0 10px 10px;
}

#artiste-details p{
    float:left;
    margin-top:30px;
}
    
#artiste-gallerie{
    height:auto;
    background:none;
    display:none;
}



/* ==========================================================================
   Troupe style s
   ========================================================================== */
.circular {
	width: 170px;
	height: 170px;
	border-radius: 110px;
	-webkit-border-radius: 110px;
	-moz-border-radius: 110px;
	
	box-shadow: 0 0 8px rgba(220, 220, 220, .3);
	-webkit-box-shadow: 0 0 8px rgba(220, 220, 220, .3);
	-moz-box-shadow: 0 0 8px rgba(220, 220, 220, .3);
	
	float:left;
	margin:10px 0 20px 45px;
}

#troupe{
	height:auto;
	background:none;
	width:98%;
}

#troupe ul{
	list-style-type: none;
}

#troupe a{
    color: #333333;
    font-weight:bold;
    text-decoration: none;
}

#troupe #lirelasuite{
    color: #bbb;
    text-decoration: none;
    font-style:italic;
}

#troupe a:hover{
    color:red;
    text-decoration: none;
}

#troupe li{
	background:rgba(255, 240, 251, 0.1);
	float:left;
	padding-right:5px;
	margin:20px 0 0 0;
	text-align:center;
	max-width:255px;
	min-height:550px;
}

#troupe ul p{
	font-size:100%;
}

#troupe ul h3{
	font-family: 'Roboto Condensed', sans-serif;
	text-shadow: none;
	margin-top:200px;
}

.main #articles-left, #articles-right{
    width:100%;
}

.main #articles-left article, #articles-right article{
    width:100%;
}

.main article h1, p, .infos{
    margin-left:10px;
    margin-right:10px;
}

.main article h1, .infos{
    text-transform:uppercase;
}

.main article h1, p{
    margin-top:10px;
}

/* ====================
    READMORE
==================== */
.readmore-js-toggle{
    text-align:right;
    padding-top:0;
    float:right;
    width:100%;
    background: rgba(255, 255, 255, 0.1);
}

.main #articles-left .readmore-js-toggle{
    float:left;
    margin-left:9px;
}

/* ====================
PARTENAIRE/PRESSE ARTICLE
==================== */
#partenaires-left{
    height:auto;
}

#partenaires-left img{
    width:150px;
}

#partenaires-left h4{
    margin:10px;
}

#partenaires-left h5{
    margin-top:20px;
}

#dossier-de-partenariat{
    text-align:left;
    margin:35px 0 20px 0;
}

#partenaires-left #dossier-de-presse{
    margin-bottom:15px;
    margin-top:0;
    padding-top:1px;
}

#partenaires-left #dossier-de-presse p{
    font-style:italic;
}

#partenaires-left #dossier-de-presse h5{
    float:none;
    margin:0 0 0 10%;
    padding-top:3px;
    width:89%;
}

#partenaires-left #dossier-de-presse #dossier-presse-image{
    float:left;
    width:40px;
}

#partenaires-right{
    float:right;
    height:auto;
}

#partenaires-right #mecenes{
    margin-top:30px;
}

#partenaires-right h5{
    margin-left:10px;
    margin-top:10px;
    margin-bottom: 0;
} 

#partenaires-right p{
    margin-top:0px;
} 

#ulule{
    margin-top:20px;
    height:370px;
    width:100%;
}

#partenaires-left h1{
   text-align:left;
}

#partenaires-left a{
    color: #333333;
    text-decoration: none;
}

#partenaires-left a:hover{
    color:red;
    text-decoration: none;
}

#partenaires-right #partenaires-logos img{
    margin:0px 10%;
    width:80%;
}


/* ====================
    BRANDING
==================== */
.logo-entreprise{
    float:left;
    margin: 0 20px 20px 0px;
    max-width: 200px;
}

#branding{
    color: white;
}

#branding h1{
    text-shadow: 0 0 0 #FFF;
}


/* ====================
    SOCIAL ARTICLE
==================== */
.main #social {
    margin-left:auto;
    height:auto;
}

/* ====================
    HISTOIRE ARTICLE
==================== */
.main #histoire {
    height:auto;
}

.main #histoire #elp_histoire {
    cursor:pointer;
}

/* ====================
    SPECTACLE ARTICLE
==================== */
.main #spectacle {
    height:auto;
    float:right;
}

/* ====================
  GOODIES ARTICLE
==================== */
.main #goodies {
    height:auto;
    width:98%;
}

.main #goodies img {
    margin:10px;
    width:30%;
}

.main #goodies-stp{
    margin-top:15px;
    height:auto;
}

.main #goodies-stp img {
    margin:7px;
    width:30%;
}

/* ====================
    VIDEO ARTICLE
==================== */
.main #video {
    /*border:1px solid #aaa;*/
    margin-top:15px;
    float:right;
    height:auto;
}

.main #articles #video .fluid-width-video-wrapper{
    margin:10px 0;
}

/* ====================
    PHOTO ARTICLE
==================== */
.main #photos {
    /*margin-top:15px;
    height:auto;*/
    float:right;
}

.main #photos h4{
    margin-left:10px;
}

.main #photos .gallery-alice{
   position: relative;
    overflow: hidden;
}

.main #photos .gallery-alice h4{
    margin-left:10px;
    position: absolute; 
    top: 10px; 
    left: 10px;
    color: #eee;
    font-size: 150%;
    text-shadow: 1px 1px 1px #555;
}

.main #photos .gallery-alice .invisible, .main #photos .gallery-alice .invisible img{
    display:none;
}

.main #photos .gallery-alice-wrapper .preview-image{
    height:100px;
}

.main article img {
    width:100%;
}

.main .laptop{
    display:block;
}

.main .smartphone{
    display:none;
}

/* ====================
ACHETER ARTICLE
==================== */
#acheter-cd-stp, #acheter-cd-alice{
    min-height:580px;
    height:auto;
    background:rgba(255, 255, 255, 0.5);
}

#acheter-cd-stp h1, #acheter-cd-alice h1{
    font-size:2em;
}

.paypal{
    margin:20px 0 20px 15%;
}

#acheter-cd-stp .paypal img, #acheter-cd-alice .paypal img{
    width:1px;
}

#acheter-cd-stp img{
    margin-left:15%;
    width:70%;
}

#acheter-cd-alice #cd-alice{
    margin-left:13%;
    width:70%;
}

/*#acheter-cd-alice p{
    margin-bottom:0;
}*/

#acheter-cd-alice input{
    float:left;
    font-size:100%;
    /*height:30px;*/
    /*width:50%;*/
    margin:10px;
}

#acheter-cd-alice #submit{
    float:left;
    font-size:100%;
    height:38px;
    width:30%;
    margin:10px;
}

#acheter-cd-alice .message_vert, .message_rouge{
    float:left;
    font-size:150%;
    margin:10px;
}

.div-smartphone{
    display:block;
    margin-top:15px;
}

.div-laptop{
    display:none;
}

#details-smartphone{
    display:block;
}

#details-smartphone #artiste-details{
    margin-top:2px;
    margin-bottom:13px;
}

#details-smartphone h1{
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 0px 1px 1px #000;
    margin:10px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: none;
        /*margin: 0 1.7%;*/
        padding-left: 5%;
        margin-bottom: 1px;
    }

    nav li:first-child a {
        margin-top: 1px	;
    }

    nav li:last-child a {
        margin-right: 0;
    }

	#articles{
		margin-left:30px;
	}
	
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
	
	
	/* ===============
       FOOTER SMALL
   =============== */
    footer ul{
        margin:10px 0;
        font-size:1.6em;
    }
    
    footer li{
        margin-left:8%;
    }
    
    footer ul a{
    }
    
    footer li h5{
        margin:0;
        padding:0;
        font-weight: normal;
        font-style: italic;
    }


    .main #articles {
        width:95%;
        float:right;
        margin:0 3% 0 0;
    }
    
    .main #articles-left{
        float:left;
        margin-left:10px;
    }

    .main article {
        float: left;
        margin: 0 0 0 2%;
        width: 48%;
        background:rgba(255, 255, 255, 0.5);
        height:491px;
    }

    .main #articles-left, #articles-right{
        width:47%;
    }
    
    .main #articles-right{
        float:right;
        margin-right:2%;
    }

    .main #social {
        margin-left:2%;
        display:none;
    }

    /*#acheter-cd-alice input{
        width:57%;
    }*/
    
    #acheter-cd-alice #submit{
        width:30%;
    }

    .main #contact{
        width:98%;
    }

    .main #contact #submit{
        width:20%;
    }

    .main #contact #human{
        width:25%;
    }

    #photo-vignettes{
        height:auto;
    }

    .div-smartphone{
        display:none;
    }

    .div-laptop{
        display:block;
    }

    #details-smartphone{
        display:none;
    }

    #artiste-gallerie{
        display:block;
    }

    #artiste-details img{
        width:170px;
    }

    .paypal{
        margin:20px 0 20px 5%;
    }
    
    .main #acheter-cd .dropdowns{
        height:70px;
        display:block;
        margin-bottom:10px;
    }
    
    .main #acheter-cd .dropdowns label{
        float:left;
    }
   
}



@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */
	#logo{
		width:35%;
	}

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: none;
        width: 100%;
    }
		
	 nav a {
	}

/* ============
    WIDE: Main
   ============ */
	#acheter-cd-stp #paypal{
        margin:0 0 20px 25%;
    }
    

/* ============
    WIDE: Main .menu
   ============ */
	
	.main #social {
		margin-right:0;
		text-align:right;
	}

    #photo-vignettes{
        height:405px;
    }

    .main #social {
        margin-left:2%;
        display:block;
    }

    #photo-vignettes img{
        width:105px;
    }

    #photo-vignettes .xsmall{
        width:65px;
    }

    #photo-vignettes .xxsmall{
        width:45px;
    }

    .paypal{
        margin:20px 0 20px 20%;
    }
    
    .main #acheter-cd .dropdowns select{

    }
    
    .main #photos .gallery-alice h4{
        font-size: 200%;
    }
}




@media only screen and (max-width: 1140px) {
	.main .laptop{
		display:none;
	}
	
	.main .smartphone{
		display:block;
		text-align: center;
	}
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1140px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

	.bouton_reserver{
		-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
		-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
		box-shadow:inset 0px 1px 0px 0px #f5978e;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
		background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
		background-color:#f24537;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		border:1px solid #d02718;
		padding:10px 9px 0px;
		margin: 10px 10px 0px 10px;
		text-shadow:1px 1px 0px #810e05;
	}.classname:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
		background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
		background-color:#c62d1f;
	}.classname:active {
		position:relative;
		top:1px;
	}
	
	.main .menu {
        -webkit-box-shadow: 0 5px 10px #222;
           -moz-box-shadow: 0 5px 10px #222;
                box-shadow: 0 5px 10px #222;
    }
	
	.main .menu{
		margin:0 0 0 20px;
		width: 170px;
	}
	
	.main .menu #logo{
		margin:20px 0;	
		width:100%;
	}
	
	.main .menu{
		position:relative;
		margin: 0;
		float: left;
	}
	
	nav .menu-item h4 {
		padding:0;
		margin:0;
	}

	nav .menu-item h4 a{
		padding-left: 10%;
	}

	nav .menu-item ul {
	  height: 0px; /*Collapses the menu*/
	}

	.menu-item ul {
	  
	  height: 0px;
	  overflow: hidden;
	   
	  /*Animation*/
	  -webkit-transition: height 1s ease;
		 -moz-transition: height 1s ease;
		   -o-transition: height 1s ease;
		  -ms-transition: height 1s ease;
			  transition: height 1s ease;
	}
    
    .menu-item .menu-item-shorter a{
        font-size: 90%;
    }

	/*.menu-item-2:hover ul {
	  height: 90px;
	}

	.menu-item-5:hover ul {
	  height: 218px;
	}*/
	
	.main .menu {
		background: url('../img/fond-menu.png');
	}
	
	nav a{
		margin-bottom: 2px;
		padding: 0 0 10px 0;
		background:url('../img/bouton-menu.png');
		height:30px;
	}

    .main #articles-left, #articles-right{
        width:41%;
    }

    .main #articles-right{
        margin-right:auto;
    }

    .main #articles {
        width:85%;
        float:right;
        margin:0;
    }

    .footer-container{
        height: 50px;
    }

    .main #audioplayer{
        margin-left:17%;
        margin-bottom:25px;
    }

    #photo-vignettes{
        height:375px;
    }

    #photo-vignettes .small{
        margin: 10px 4% 7px 7%;
    }

    #photo-vignettes img{
        width:125px;
    }

    #photo-vignettes .xsmall{
        width:85px;
    }
    
    #photo-vignettes .xxsmall{
        width:60px;
    }

    #acheter-cd-stp, #acheter-cd-alice{
        height:655px;
    }

    .paypal{
        margin:20px 0 20px 25%;
    }
    
    .main #acheter-cd .dropdowns select{

    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}