body {
	height:100%;
	margin-top:16px;
	background: #000 url('../../admin/images/fond.jpg') repeat-x; 
	text-align:left;
}

#accueil {
}

#box_identification {
	height:230px;
	margin-top:100px;
	padding:5px 0 10px 0;
	width:270px;
	border:2px solid #FFF;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow:10px 10px 20px #000;
	-webkit-box-shadow:10px 10px 20px #000;
	-moz-box-shadow:10px 10px 20px #000;
}

.box{
	background:url('../../admin/images/fondblanc.png');
	float:left;
	margin:30px 0 0 50px;
	min-height:200px;
	border:2px solid #FFF;
	border-radius: 10px;
	width:350px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow:10px 10px 20px #000;
	-webkit-box-shadow:10px 10px 20px #000;
	-moz-box-shadow:10px 10px 20px #000;
}

.formulaire{
	position:absolute; z-index:10; width:300px; height:400px; background:#ffaf4e;
	left:500px;
	padding:5px 5px 10px 5px;
	border:2px solid #FFF;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow:10px 10px 20px #000;
	-webkit-box-shadow:10px 10px 20px #000;
	-moz-box-shadow:10px 10px 20px #000;
	display:none;
}


.box h1{
	text-align:left;
	font-size:14px;
	color:#323b40;
	
	padding:2px 0 0 10px;
}

body,td,input,textarea,select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
input.plat  {
    background-color:#564801;
    border:1px solid #3F3F3F;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

input.platover, input.plat:hover {
    background-color:#5d3a02;
    border:1px solid #3F3F3F;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

input.plat:active {
    background-color:#fff;
    border:1px solid #3F3F3F;
    color:#497aa0;
    font-weight:bold;
    cursor:pointer;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

a {
	color :#555;
	text-decoration : none;
}
a:hover {
	text-decoration: underline;
}

ul{
	height:170px;
	overflow-y:auto;
}

ul li{
	text-align:left;
}

.txtsel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #000000;
	background-color: #FFFFFF;
}
.txt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #EEE;
}
.txtgras {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #EEEEEE;
}

.puForm{
	left:400px;
	top: 20px;
	background:url('../../admin/images/fondblanc.png');
	padding:10px;
	width:310px;
	border:2px solid #FFF;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow:10px 10px 20px #000;
	-webkit-box-shadow:10px 10px 20px #000;
	-moz-box-shadow:10px 10px 20px #000;
	position:absolute;
	display:none;
}

.puForm label{
	float:left;
}

.puForm .closeBox{
	cursor:pointer;
	float:right;
}

.venteForm{
	left:400px;
	top: 20px;
	background:url('../../admin/images/fondblanc.png');
	padding:10px;
	width:400px;
	border:2px solid #FFF;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow:10px 10px 20px #000;
	-webkit-box-shadow:10px 10px 20px #000;
	-moz-box-shadow:10px 10px 20px #000;
	position:absolute;
	display:none;
}

.venteDiv{
	left:400px;
	top: 20px;
	background:url('../../admin/images/fondblanc.png');
	padding:10px;
	width:400px;
	min-height:100px;
	border:2px solid #FFF;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow:10px 10px 20px #000;
	-webkit-box-shadow:10px 10px 20px #000;
	-moz-box-shadow:10px 10px 20px #000;
	position:absolute;
	display:none;
}

.venteForm label{
	float: left;
	padding-top:5px;
 	width: 80px;
 	text-align: right;
}

.venteForm input{
	float: right;
 	width: 300px;
 	text-align: left;
}

.venteForm .ligne{
	clear: both;
	padding-top:7px;
}

.venteForm .closeBox{
	cursor:pointer;
	float:right;
}

.venteDiv .closeBox{
	cursor:pointer;
	float:right;
}

.modifiervente{
	cursor:pointer;	
}

.survol{
	cursor:pointer;
}

